<launch>
  <arg name="ns" default="eye"/>
  <arg name="id0" default="0"/>
  <arg name="id1" default="1"/>

  <group ns="$(arg ns)">
    <include file="$(find usbcam)/launch/usbcam_single_node.launch">
      <arg name="camera_name" default="left"/>
      <arg name="camera_info_url" default="file://$(find usbcam)/../../..//data/eye/left/ost.yaml"/>
      <arg name="camera_id" default="$(arg id0)"/>
    </include>

    <include file="$(find usbcam)/launch/usbcam_single_node.launch">
      <arg name="camera_name" default="right"/>
      <arg name="camera_info_url" default="file://$(find usbcam)/../../../data/eye/right/ost.yaml"/>
      <arg name="camera_id" default="$(arg id1)"/>
    </include>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="map_to_eye_right" args="-0.00 0 0 0 0 0 map /'$(arg ns)'/right/camera_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_eye_left" args="-0.00 0 0 0 0 0 map /'$(arg ns)'/left/camera_link 10"/>
</launch>
